<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
  <!-- begin #header -->
  {% if page.header %}
  <div id="header" class="header navbar-default">
    {{ page.header }}
  </div>
  <!-- end #header -->
  {% endif %}
  <!-- begin #sidebar -->
  {% if page.sidebar_first %}
  <div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
      {{ page.sidebar_first }}
      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
    </div>
    <!-- end sidebar scrollbar -->
  </div>
  <div class="sidebar-bg"></div>
  {% endif %}
  <!-- end #sidebar -->

  <!-- begin #content -->
  {% if page.content or page.breadcrumb %}
  <div id="content" class="content">
    {% if page.breadcrumb %}
      {{ page.breadcrumb }}
    {% endif %}
    {{ page.content }}
  </div>
  {% endif %}
  <!-- end #content -->

  {%if page.extra %}
    {{ page.extra }}
  {% endif %}

  <!-- begin scroll to top btn -->
  <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
  <!-- end scroll to top btn -->
</div>
<!-- end page container -->
