
<div class="card-list card-list--two-cols">
  <div class="card card--horizontal card-list__item">
    <div class="card__content-wrapper">
      <div class="card__content">
        <span>{{ 'Pre'|t }}</span>
      </div>
      <div class="card__footer">
        <a href="{{ content.pre.link }}">{{ content.pre.title }}</a>
      </div>
    </div>

  </div>
  <div class="card card--horizontal card-list__item">
    <div class="card__content-wrapper">
      <div class="card__content">
        <span>{{ 'Next'|t }}</span>
      </div>
      <div class="card__footer">
        <a href="{{ content.next.link }}">{{ content.next.title }}</a>
      </div>
    </div>
  </div>
</div>
