{%- set wrapper_attributes = wrapper_attributes.addClass('dropdown') -%}
{#<li {{ wrapper_attributes }}>#}
{#  <a href="#" class="dropdown-toggle f-s-14" data-toggle="dropdown">#}
{#    <i class="{{ icon_pre }}"></i>#}
{#    {{ icon }}#}
{#  </a>#}
{#  <div class="dropdown-menu media-list dropdown-menu-right">#}
{#    <div class="dropdown-header">{{ title }}</li>#}
{#    <a href="javascript:;" class="dropdown-item media">#}
{#      <!-- inner menu: contains the actual data -->#}
{#      <div class="media-body">#}
{#        {%- if items -%}#}
{#          {{ items }}#}
{#        {%- else -%}#}
{#          {{- empty -}}#}
{#        {%- endif -%}#}
{#      </div>#}
{#    </a>#}
{#    <div class="dropdown-footer text-center">#}
{#      <a href="{{ more_link }}">{{ 'View all'|t }}</a>#}
{#    </div>#}
{#  </div>#}
{#</li>#}

<li {{ wrapper_attributes }}>
	<a href="#" data-toggle="dropdown" class="dropdown-toggle f-s-14">
		<i class="{{ icon_pre }}"></i>
		{{ icon }}
	</a>
	<div class="dropdown-menu media-list dropdown-menu-right">
		<div class="dropdown-header">{{ title }}</div>
		{%- if items -%}
			{{ items }}
			<a href="javascript:;" class="dropdown-item media">
				<div class="media-left">
					<i class="fa fa-bug media-object bg-silver-darker"></i>
				</div>
				<div class="media-body">
					<h6 class="media-heading">John Smith</h6>
					<p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
					<div class="text-muted f-s-10">25 minutes ago</div>
				</div>
			</a>
		{%- else -%}
			<div class="text-center width-300 p-b-10 p-t-10">
				{{- empty -}}
			</div>
		{%- endif -%}
		<div class="dropdown-footer text-center">
			<a href="{{ more_link }}">{{ 'View more'|t }}</a>
		</div>
	</div>
</li>